---
layout: default
title: 归档
---

<h2>文章归档</h2>

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year_group in posts_by_year %}
  <h3>{{ year_group.name }}年</h3>
  <ul style="list-style: none; padding: 0;">
    {% for post in year_group.items %}
      <li style="margin-bottom: 0.5em;">
        <span style="color: #666; font-size: 0.9em;">{{ post.date | date: "%m-%d" }}</span>
        <a href="{{ post.url }}" style="margin-left: 1em;">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
