<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>{{ 风清扬的博客 }}</title>
    <style>
      body { font-family: sans-serif; max-width: 720px; margin: auto; padding: 2em; }
      nav {
        margin-bottom: 2em;
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
      }
      nav a {
        margin-right: 1.5em;
        text-decoration: none;
        color: #0366d6;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="{{ "/" | relative_url }}">主页</a>
      <a href="{{ "/_posts" | relative_url }}">博客</a>
      <a href="{{ "/about" | relative_url }}">关于我</a>
    </nav>

    {{ content }}
  </body>
</html>
